<div class="col-md-12">
  <div class="card">
    <div class="header">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="title ">Cancelar Inscrição</h2>
        </div>
      </div>
    </div>
    <div class="content">
      <form action="{{route.route}}/cancelar" method="post">
      <input type="hidden" name="id" value="{{eventData.id}}">
        <div class="row">
          <div class="col-md-12">
            <div class="typo-line">
              <h4>Tem certeza que gostaria de cancelar sua inscrição para o evento "{{eventData.name}}" ?<br><small class="text-danger">Essa ação não poderá ser revertida após confirmação.</small> </h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-xs-6 col-sm-3">
              <a target="" href="{{route.route}}"><button type="button" class="btn btn-default btn-block">Voltar</button></a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-push-6">
              <button type="submit" class="btn btn-danger btn-fill btn-block">Confirmar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>